/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

button {
  .clean-style;
  .round-corner;
  min-width: 112px;
  padding: 20px;
  .layout-center;
  .text-bold;
  margin: 1rem 0.5rem;
  &:hover {
    background-color: @brand-primary-color;
    color: @brand-tertiary-color;
  }
  a {
    color: @brand-primary-color;
    font-size: 0.8rem;
    .text-bold;
  }
  &:hover a {
    color: @brand-tertiary-color;
  }
}

.button-group {
  display: flex;
  justify-content: center;
}
