/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.bordered {
	border-color: #4A90E2;
	border-width: 1.5px;
	border-radius: 3px;
}

.round-corner {
	border-radius: 16px;
}

.layout-center {
	margin: 0 auto;
}

main {
	max-width: 820px;
	.layout-center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	height: 100%;
	width: auto;
}

.clean-style {
	border: none;
	outline: none;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

.warning {
	background-color: #E55D4A;
}

.proceed {
	background-color: rgba(182, 217, 133, 0.76);
}

.wrap {
	width: 100%;
}

.box-wrap {
	background-color: @brand-secondary-color;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	max-width: 820px;
	.round-corner;
	.layout-center;
}

/*--------------------------------------------------------------
## Sample Order
--------------------------------------------------------------*/

.sample_type {
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		.round-corner;
		padding: 0.5rem;
		&:hover {
			background-color: @brand-tertiary-color;
		}
		img {
			width: 100%;
  	  height: auto;
  	  max-width: 100px;
			margin-bottom: 6px;
		}
	}
}
