/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	h3 {
		text-decoration: none;
	}
	color: @brand-primary-color;
  &:visited {
  	color: @brand-primary-color;
  }

  &:hover,
  &:focus,
  &:active {
  	color: @brand-primary-color;
    cursor: pointer;
  }

  &:focus {
  	outline: thin dotted;
  }

  &:hover,
  &:active {
  	outline: 0;
  }
}
